{{> head}}

    <h1 class="u-visuallyhidden">{{event.long_name}}</h1>
    <div class="wrap">
      <div class="wrap-backgroundimage"></div>
      <header>
        <nav class="main-nav">
          <ul>
            <li class="main-nav-item">
              <a href="#registration">Registrace</a>
            </li>
            <li class="main-nav-item">
              <a href="#about">O co jde?</a>
            </li>
            <li class="main-nav-space-item"></li>
            <li class="main-nav-item">
              <a href="#faq">FAQ</a>
            </li>
            <li class="main-nav-item">
              <a href="#contact">Kontakty</a>
            </li>
          </ul>
        </nav>
        <img class="logo" src="img/logo.png" alt="{{event.long_name}}">
      </header>
      <section class="hero-unit">
        <div class="u-container">
          <h1>{{event.long_name}} jsou tady!</h1>
          <p class="hero-unit-subtitle">
            Sníh Osudovkám skvěle nahrává do karet. Ve sněhu se dají hrát
            skvělé hry nebo skvěle ležet po vypití sudu piva.
            Tolik možností! Jenže všichni moc dobře víme, že v Praze
            sníh stojí pěkně za kočku. A tak pojedeme někam do přírody! Stálo
            nás to chvilku příprav, ale konečně jsme to zvládli! Víkendové
            Osudovky jsou tady! Pojďte si s námi zahrát!
          </p>
          <p class="hero-unit-meta">
            26. - 28. února 2016, Sedlčany
          </p>
          <a class="hero-unit-calltoaction" href="#registration">
            Chci se zúčastnit
          </a>
        </div>
      </section>
      <section class="registration" id="registration">
        <div class="u-container">
          <h1>Registrace</h1>
          <p>
            Pokud se chcete zúčastnit Osudových her, nezbývá nic jiného, než
            se zaregistrovat a dorazit! Více informací níže.
          </p>
          {{#if capacityLeft}}
            <div class="registration-form">
              <form action="register" method="post" id="rform">
                <div class="registration-form-email registration-form-email--down">
                  <label for="rform-email">E-Mail</label>
                  <input id="rform-email" type="text" name="email">
                </div>

                <div class="registration-form-others u-visuallyhidden">
                  <label for="rform-name">Jméno</label>
                  <input id="rform-name" type="text" name="name">

                  <label for="rform-surname">Příjmení</label>
                  <input id="rform-surname" type="text" name="surname">

                  <label for="rform-phone">Telefon</label>
                  <input id="rform-phone" type="text" name="phone">

                  <input type="checkbox" name="eighteen" id="rform-18">
                  <label for="rform-18">Potvrzuji, že jsem dosáhl 18 let věku</label>

                  <input type="hidden" name="exists" id="rform-exists">
                </div>

                <div class="registration-form-known u-visuallyhidden">
                  <p>Ahoj, <strong class="known-name">?</strong>!</p>
                  <p>
                    Vypadá to, že jsi už na Osudovkách předtím byl(a), takže registraci
                    můžeme trochu urychlit.
                  </p>
                  <p>
                    <small>
                      <a href="#" class="not-known">
                      Ale já nejsem <span class="known-name">ten kdo si myslíte</span>!
                      </a>
                    </small>
                  </p>
                </div>

                <div class="registration-form-done u-visuallyhidden">
                  <p>Ahoj, <strong class="known-name">?</strong>!</p>
                  <p>
                    Vypadá to, že na tyto Osudovky jsi už zaregistrovaný(á).<br>
                    Ač by to asi bylo hrozně cool, víckrát se registrovat nejde.
                  </p>
                  <p>
                    Pokud jsi se už registroval, můžeš si znovu
                    <a href="/payment-details" class="known-url">otevřít údaje pro platbu.</a>
                  </p>
                  <p>
                    <small>
                      Pokud však jde o chybu a seš si jistý, že jsi se neregistroval,
                      <a href="mailto:info@osudovehry.cz">
                        kontaktuj nás.
                      </a>
                    </small>
                  </p>
                </div>

                <button type="submit" class="registration-form-submit u-visuallyhidden">
                  Zaregistrovat se
                </button>
              </form>
              <button id="check-user">Pokračovat</button>
            </div>
            <aside class="registration-instructions">
              <h2>Informace</h2>
              <ul class="registration-instructions-list">
                <li><p>
                  Tato registrace je něco jako závazná, tedy ihned po registraci
                  po vás budeme chtít provést platbu. Každá registrace, ke které
                  do čtyř dní neobdržíme platbu bude <strong>zrušena</strong>
                  a bude uvolněno vaše místo někomu jinému.
                </p></li>
                <li><p>
                  Cena za {{event.long_name}} je
                  <strong class="registration-instructions-list-price">{{event.price}} Kč</strong>
                  za celou akci (dvě noci).
                </p></li>
                <li><p>
                  V ceně je zahrnut pronájem objektu, jídlo a materiál na hry.
                  V sobotu večer bude i sud piva, taky v ceně.
                </p></li>
              </ul>
              <div>
                <h2>Kapacita</h2>
                <p>Kapacita ještě nebyla naplněna.</p>
                <div class="registration-instructions-capacity">
                  zbývá <strong class="capacity-count">{{capacityLeft}}</strong> míst
                  <div class="registration-instructions-capacity-bar">
                    <div class="registration-instructions-capacity-bar-inner"
                          style="width: {{capacityPercentage}}%;">
                    </div>
                  </div>
                </div>
              </div>
            </aside>
          {{else}}
            <div class="registration-closed">
              Je nám to líto, ale vypadá to, že byla vyčerpána kapacita. <br>
              Ale zatím nezoufejte, většinou kapacitu navýšíme, sledujte naši facebook stránku!
            </div>
          {{/if}}
        </div>
      </section>
      <section class="about" id="about">
        <div class="u-container">
          <h1>O co jde?</h1>
          <p>
            Osudové hry - společenská soutěž o sud piva! Seznamte se s novými
            lidmi, popusťte uzdu svému soutěžnímu duchu a cinkněte si s námi
            plastovým kelímkem plného piva u příjemného večerního zakončení
            našich her.
          </p>
          <p>
            Původní Osudové hry se konají vždy v rámci jednoho dne. Týmy soutěží
            o sud piva, který pak společně vypijeme večer u ohně. Osudovky
            nabízejí skvělou přátelskou atmosféru. Nově zavádíme speciální
            edici Osudových her (původní Osudovky se budou konat stále,
            nemějte strach), která se v případě úspěchu bude konat víceméně
            pravidelně a místo jednoho večera spolu strávíme dva dny. Více času
            znamená více her, více zábavy, lépe se poznáme, více piva se vypije
            a vypije se více piva (je to dvakrát záměrně).
          </p>
          <p>
            Jsme mladý tým zdravě šílených studentů z ČVUT, kteří pro vás
            připravují zábavné disciplíny a strastiplnou bojovou cestu za
            oroseným sudem piva! Uspořádali jsme už dvoje Osudové hry a pokaždé
            se o něco zlepšujeme. Nejsme výděleční, ale to nám nevadí. Nás to
            totiž neskutečně baví, a to je palivo, které dělá z obyčejných věcí
            neobyčejné.
          </p>
          <h2>Podívejte se na fotografie z minulých Osudovek</h2>
          <div class="about-photos">
            <ul class="about-photos-list">
              <li>
                <a href="https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xpt1/t31.0-8/12087088_726273380850167_912945723617721916_o.jpg" target="_blank">
                  <img src="https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xpt1/t31.0-8/12087088_726273380850167_912945723617721916_o.jpg" width="197" alt="Fotografie">
                </a>
              </li>
              <li>
                <a href="https://scontent-vie1-1.xx.fbcdn.net/hphotos-xtp1/l/t31.0-8/12068750_726273510850154_8433708501109557393_o.jpg" target="_blank">
                  <img src="https://scontent-vie1-1.xx.fbcdn.net/hphotos-xtp1/l/t31.0-8/12068750_726273510850154_8433708501109557393_o.jpg" width="197" alt="Fotografie">
                </a>
              </li>
              <li>
                <a href="https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xpt1/t31.0-8/12079980_726273040850201_324420530406543235_o.jpg" target="_blank">
                  <img src="https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xpt1/t31.0-8/12079980_726273040850201_324420530406543235_o.jpg" width="197" alt="Fotografie">
                </a>
              </li>
              <li>
                <a href="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-xal1/t31.0-8/12091231_726271087517063_7239643709017548253_o.jpg" target="_blank">
                  <img src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-xal1/t31.0-8/12091231_726271087517063_7239643709017548253_o.jpg" width="197" alt="Fotografie">
                </a>
              </li>
            </ul>
            <p>
              Více fotografií na
              <a href="https://www.facebook.com/osudovehry" target="_blank">facebooku Osudových her</a>.
            </p>
          </div>
        </div>
      </section>
      <section class="faq" id="faq">
        <div class="u-container">
          <h1>Časté otázky</h1>
          <div class="faq-col">
            <article class="faq-item">
              <dt>Jak je to s dopravou?</dt>
              <dd>
                Dopravit se je potřeba na
                <a href="https://goo.gl/maps/QDYJf4LYj9K2" target="_blank">vlakové nádraží Sedlčany</a>.
                Jak se dopravíte je už na vás, ale počítáme s tím, že většina bude
                vyrážet z Prahy, takže tam uspořádáme sraz a pojedeme společně.
              </dd>
            </article>
            <article class="faq-item">
              <dt>Co s prachama, když nebudu moct dorazit?</dt>
              <dd>
                Nemůžeme zaručit, že vám vrátíme plnou částku zpátky.
                Co ale můžeme slíbit je to, že bychom to řešili individuálně
                a pokusili se vám vrátit co nejvíce.
              </dd>
            </article>
            <article class="faq-item">
              <dt>Už jsem se zaregistroval a přijde mi, že je tady prdlajs informací. Bude toho víc?</dt>
              <dd>
                Ano, žádný stres, budeme pár týdnů před odjezdem posílat
                příručku jak se vybavit, se všemi potřebnými informacemi.
              </dd>
            </article>
          </div>
          <div class="faq-col">
          <article class="faq-item">
            <dt>Co vzít s sebou?</dt>
            <dd>
              To se dozvíte v příručce, kterou budeme posílat mailem před
              odjezdem.
            </dd>
          </article>
          <article class="faq-item">
            <dt>Jak se tam bude spát?</dt>
            <dd>
              Náročnějším můžeme nabídnout několik přistýlek, ale všichni se
              na ně rozhodně nevlezeme. Proto spoléháme, že máme mezi sebou
              odolné jedince, kterým nevadí spát na zemi na matraci. Přesto
              ale doporučíme vzít si své spacáky.
            </dd>
          </article>
          <article class="faq-item">
            <dt>Budou se ZOH konat i při nepřízni počasí?</dt>
            <dd>
              Pravděpodobně ano, pokud nebudou padat trakaře. Pokud nebude
              sníh, nedá se nic dělat, budeme hrát na suchu. Pokud bude pršet
              nebo něco horšího, budeme více hrát indoorovky a
              <span style="text-decoration:line-through;">pít alkohol</span>
              povídat si jak se máme.
            </dd>
          </article>
          </div>
          <div class="faq-col">
          <article class="faq-item">
            <dt>Budu ještě něco doplácet?</dt>
            <dd>
              Ne-e, uvedená cena je konečná. Jediné, za co ještě můžeš platit
              je doprava a za věci, které si budeš chtít sám přinést
              (něco dobrého na zub, alkohol, atd.)
            </dd>
          </article>
          <article class="faq-item">
            <dt>Můžu se zúčastnit když nemám tým?</dt>
            <dd>
              Jasně! Týmy budeme skládat až po příjezdu. Nemusíme však
              připomínat, v čem je lepší hrát se svými kamarády v týmu,
              že ne?
            </dd>
          </article>
          <article class="faq-item">
            <dt>Hraju na kytaru / něco co dělá zvuky.<br>Bude na to prostor?</dt>
            <dd>
              Tohle si snad ani nezaslouží, aby to tady bylo. Samozřejmě,
              vemte všechno hrajícího, co můžete.
            </dd>
          </article>
            <article class="faq-item">
              <dt>Jste úžasní.</dt>
              <dd>Tohle není otázka a děkujeme.</dd>
            </article>
          </div>
        </div>
      </section>
      <section class="contact" id="contact">
        <div class="u-container">
          <h1>Kontakty</h1>
          <p>
            Vždycky se může něco pokazit. Nebo budete mít otázku, na kterou jste
            tady nenašli odpověď. Napište nám.
          </p>
          <p>
            <a href="mailto:info@osudovehry.cz">info@osudovehry.cz</a>
          </p>
        </div>
      </section>

{{> foot}}
