<!doctype html>
<html>
  <head>
    <title>{{event.long_name}}</title>
    <meta charset="utf-8">
    <meta name="description" content="{{event.description}}">
    <meta name="keywords" content="Osudové hry, Osudovky, hry o sud piva">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="{{event.long_name}}">
    <meta property="og:description" content="{{event.description}}">
    <meta property="og:url" content="{{event.event_url}}">
    <meta property="og:image" content="{{event.event_url}}/opengraph.jpg">
    <link rel="stylesheet" href="/css/main.css" type="text/css">
  </head>
  <body>
      <!-- Running osudovehry-app instance, event={{event.name}}, theme={{theme}} -->
